.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #04be0b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #0c8312;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}
